In [1]:
#Dependencies

import pandas as pd

In [4]:
# Read csv file into dataFrame
vine_df = pd.read_csv("vine_table.csv")
vine_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
0,RAB23OVFNCXZQ,1.0,0.0,0.0,N,Y
1,R3NORADVJO6IE6,5.0,0.0,0.0,N,Y
2,R299F4SO98S5OO,5.0,1.0,1.0,N,Y
3,R2DA9DOT03UW6I,5.0,2.0,3.0,N,Y
4,R2OGCH681EQHU6,5.0,0.0,0.0,N,Y

In [5]:
# Filter data based on total votes 20 or higher and create dataFrame
vine_filtered_total_votes_df = vine_df[vine_df["total_votes"] >= 20]
vine_filtered_total_votes_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
487,R1T4FVSABO0IDP,5.0,8.0,31.0,N,Y
613,R397VXR1GAK6C9,5.0,21.0,21.0,N,Y
1058,R2H6KB9RHS17GA,3.0,59.0,69.0,N,Y
1097,R3HAK0MUN9F5IT,1.0,6.0,28.0,N,Y
1373,R29UTZTOPUVRSV,5.0,21.0,21.0,N,Y

In [6]:
# Filter data to get rows where helpful_votes/total_votes is at 50% or higher
filtered_total_votes = vine_filtered_total_votes_df["total_votes"]
filtered_helpful_votes = vine_filtered_total_votes_df["helpful_votes"]
vine_filtered_helpful_votes_df = vine_filtered_total_votes_df[(filtered_helpful_votes/filtered_total_votes) >= 0.5]
vine_filtered_helpful_votes_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
613,R397VXR1GAK6C9,5.0,21.0,21.0,N,Y
1058,R2H6KB9RHS17GA,3.0,59.0,69.0,N,Y
1373,R29UTZTOPUVRSV,5.0,21.0,21.0,N,Y
1580,RY9FLUD8VG6XD,4.0,27.0,32.0,N,Y
1725,R3Q5NAY8BGAKHI,5.0,34.0,40.0,N,Y

In [7]:
# Filter to get rows that are part of the vine program
vine_program_yes_df = vine_filtered_helpful_votes_df[vine_filtered_helpful_votes_df["vine"]=="Y"]
vine_program_yes_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
318513,REKN4PLM5174P,4.0,219.0,225.0,Y,N
659122,RQOG8IIJX7CKB,4.0,21.0,27.0,Y,N
799477,R33EJ9PSZR13CM,4.0,26.0,30.0,Y,N
808799,RD2BFV896F321,5.0,16.0,20.0,Y,N
1306517,R37GSXLA11XF8N,5.0,30.0,34.0,Y,N

In [8]:
# Filter to get rows that are not part of the vine program
vine_program_no_df = vine_filtered_helpful_votes_df[vine_filtered_helpful_votes_df["vine"]=="N"]
vine_program_no_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
613,R397VXR1GAK6C9,5.0,21.0,21.0,N,Y
1058,R2H6KB9RHS17GA,3.0,59.0,69.0,N,Y
1373,R29UTZTOPUVRSV,5.0,21.0,21.0,N,Y
1580,RY9FLUD8VG6XD,4.0,27.0,32.0,N,Y
1725,R3Q5NAY8BGAKHI,5.0,34.0,40.0,N,Y

In [9]:
# Total number of Paid reviews
total_paid_reviews = len(vine_program_yes_df)
total_paid_reviews

82

In [10]:
# Total number of unpaid reviews
total_unpaid_reviews = len(vine_program_no_df)
total_unpaid_reviews

24742

In [13]:
# Total number of 5-star paid reviews
five_star_paid_reviews = len(vine_program_yes_df[vine_program_yes_df["star_rating"]==5])
five_star_paid_reviews

33

In [14]:
# Total number of 5-star unpaid reviews
five_star_unpaid_reviews = len(vine_program_no_df[vine_program_no_df["star_rating"]==5])
five_star_unpaid_reviews

12807

In [15]:
# Percent of 5-star paid reviews
percent_five_star_paid_review = (five_star_paid_reviews/total_paid_reviews)*100
percent_five_star_paid_review

40.243902439024396

In [16]:
# Percent of 5-star unpaid reviews
percent_five_star_unpaid_review = (five_star_unpaid_reviews/total_unpaid_reviews)*100
percent_five_star_unpaid_review

51.76218575701237